.navbar
{
    position: absolute;
    background: none;
    top: 0;
    width: 100%;
    left: 0px;

    .navbar-item
    {
        color: white;

        .icon{
            color: white;
        }
    }
}
